body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

#content {
    padding-top: 20px;
}

.planning tbody tr td:hover {
    background-color: silver;
}

.week-title {
    text-align:center;
}

.empty-cell {
    background-color: #51A351;
}

.planning td {
    cursor: pointer;
}

#sort-date {
    padding-left:110px;
}

.nav-date:hover {
    text-decoration:none;
}

.table th {
    width: 50px;
}
 
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}

#moreInfosClientBtn{
    width: 500px;
    margin: auto;
    margin-bottom: 8px;
}

.moreInfosSpan {
    display: block;
    height: 38px;
}

#rdvInfoModal .modal-body {
    overflow: hidden;
}

#submitMoreInfos {
    float: left;
    width: 200px;
}

#moreInfosForm {
    margin: 0;
}

#headNav li a{
    font-size: 14px;
}

.client td img {
    width: 16px;
}